@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');


.player {

    display: inline-block;
    width: 100%;
    height: auto;
}

.player .control {

    float: left;
    margin-right: .5rem;
}

.player .control.b1 i {

width: 1rem;
height: 50px;
display: grid;
place-content: center;
font-size: 1rem;
color: #39AAB2;

}

.player .control.b2 i {

    width: 1rem;
    height: 50px;
    display: grid;
    place-content: center;
    font-size: 1rem;
    color: violet;
    
    }

.player .control i:hover {

    color: orange;
    transition: .2s;
}

.player .control {

    position: relative;
    vertical-align: middle;
}

.player .waveform {

    vertical-align: middle;
}